<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#000000" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>SplitMate</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link type="image/png" sizes="32x32" rel="icon" href="img/money.png">

<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/3ea55f06b5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">

</head>
<body>
    <div class="container text-center">
        <img style="width: 15rem;" src="img/money.png" alt="">
        <h1 style="font-weight: bold;" class="display-1 mb-4">SplitMate</h1>
        
        <% if (error){ %>
            <div>
                <h5>This is a broken link. </h5>
            </div>
        <a href="/">
            <button style="width: 10rem;" type="button" class="mt-4 btn btn-primary">Back to Home</button>
        </a>
        <% } else { %>
            <span >You are invited to join "<%= foundGroup.groupName %>" group by <%= foundGroup.members[0].memberName %> </span>
            <form class="mt-3" method="post" action="/join-group" >
                <input type="hidden" name="groupID" value="<%= foundGroup._id %>">
                <button style="width: 10rem;" type="submit" class="btn btn-primary">Join</button>
            </form>
            <a href="/">
                <button style="width: 10rem;" type="button" class="mt-4 btn btn-danger">Cancel</button>
            </a>
        <% } %>

        
    </div>
    <footer style="margin-top: 8rem;  margin-bottom: 2rem;" class="text-center">
        <span>Made with ❤️ by Ashish</span>
    </footer>
</body>
</html>